/* общие стили */
body {
  margin: 0;
}

.container {
  width: 1140px;
  /* border: 1px solid; */
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}

/* стили хэдера */
header {
  height: 60px;
  background-color: dimgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* стили навигации */
.main-menu {
  background-color: rgb(92, 84, 84);
}
.main-menu-list {
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* стили контентн ой части */
.content {
  display: flex;
}
section {
  background-color: rgb(145, 122, 122);
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-item {
  background-color: rgb(175, 165, 165);
  width: calc(45%);
  padding: 15px;
  margin: 10px;
  border: 4px;
  border-style: double;
  box-sizing: border-box;
}
/* сайд-бар */
.sidebar-right {
  background-color: rgb(180, 118, 118);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.news {
  background-color: brown;
  border: 4;
  border-style:double ;
  margin: 5%;
}
footer {
  background-color: rgb(124, 54, 54);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
