body {
  font-family: "Montserrat", sans-serif;
  height: 1920;
  width: 1410;
  padding: 0;
  /* margin: 10%; */
}

header {
  font-weight: 600;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px black;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #424242;
}
section {
  display: flex;
  justify-content: center;
}
.line {
  border: none;
  background-color: crimson;
  height: 2px;
  width: 30%;
  margin: 10px;
}
.red {
  font-style: italic;
  font-weight: 200;
  color: rgb(216, 16, 16);
  padding: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}
.section-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 196px;
}

.siren {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.text-siren {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15%;
  margin: 0 100px;
}

footer {
  display: flex;
  color: #ffffff;
  background-color: #ffb5b5;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
